{
  "homeserver_url": "http://caddy:8080",
  "matrix_domain": "${MATRIX_DOMAIN}",
  "stickers_user": "${STICKERS_USER_LOCALPART}",
  "stickers_access_token": "${STICKERS_ACCESS_TOKEN}",
  "stickers_import_access_token": "${STICKERS_IMPORT_ACCESS_TOKEN}",
  "stickers_room_id": "${STICKERS_ROOM_ID}"
}
