{
    "homeserver": "https://${PUBLIC_DOMAIN}",
    "user_id": "@${STT_BOT_USER_LOCALPART}:${MATRIX_DOMAIN}",
    "password": "${STT_BOT_PASSWORD}",
    "device_id": "${STT_BOT_DEVICE_ID}",
    "room_id": "${STT_BOT_ROOM_ID}",
    "whisper_model": "${WHISPER_MODEL}",
    "openai_api_key": "",
    "assist_name": "stt-bot",
    "matrix_store": "/app/db/matrix_store.db",
    "access_token": null
}
