{
    "homeserver": "http://synapse:8008",
    "user_id": "@cookie-refresher:${MATRIX_DOMAIN}",
    "password": "${COOKIE_REFRESHER_PASSWORD}",
    "device_id": "COOKIEREFRESH01",
    "admin_notify_user": "@${SYNAPSE_ADMIN_USER}:${MATRIX_DOMAIN}",
    "secrets_path": "/app/data/secrets.enc",
    "failures_dir": "/app/data/failures",
    "bridges": {
        "twitter": {
            "enabled": false,
            "interval_hours": 24,
            "bot_mxid": "@twitterbot:${MATRIX_DOMAIN}",
            "login_url": "https://x.com/i/flow/login",
            "cookies_needed": ["auth_token", "ct0"],
            "login_command": "login-cookie auth_token={auth_token} ct0={ct0}"
        },
        "slack": {
            "enabled": false,
            "interval_hours": 168,
            "bot_mxid": "@slackbot:${MATRIX_DOMAIN}",
            "login_url": "https://slack.com/workspace-signin",
            "login_command": "login-token {xoxc} {xoxd}"
        },
        "meta-fb": {
            "enabled": false,
            "interval_hours": 72,
            "bot_mxid": "@messengerbot:${MATRIX_DOMAIN}",
            "login_url": "https://www.facebook.com/login",
            "cookies_needed": ["c_user", "xs", "datr", "fr"],
            "login_command": "login-cookie"
        },
        "meta-ig": {
            "enabled": false,
            "interval_hours": 72,
            "bot_mxid": "@instagrambot:${MATRIX_DOMAIN}",
            "login_url": "https://www.instagram.com/accounts/login/",
            "cookies_needed": ["sessionid", "csrftoken", "ds_user_id"],
            "login_command": "login-cookie"
        },
        "linkedin": {
            "enabled": false,
            "interval_hours": 168,
            "bot_mxid": "@linkedinbot:${MATRIX_DOMAIN}",
            "login_url": "https://www.linkedin.com/login",
            "cookies_needed": ["li_at", "JSESSIONID"],
            "login_command": "login-cookie li_at={li_at} JSESSIONID={JSESSIONID}"
        }
    }
}
